@import url("https://fonts.googleapis.com/css?family=Oswald:200&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Harmattan&display=swap");

.description {
  font-family: "Anton", sans-serif;
  font-size: 6rem;
  line-height: 8rem;
  color: #fff;
}

.description_special {
  color: #ff4d25;
}

.description-etc {
  display: inline-block;
  padding-top: 5rem;
  margin: 5rem 0;
}

.description-etc__title {
  font-family: "Harmattan", sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #ff4d25;
  padding-bottom: 1rem;
}

.description-etc__p {
  font-family: "Harmattan", sans-serif;
  line-height: 2.5rem;
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
}

.description-etc__p__bar {
  font-size: 1.7rem;
}

.info_icon {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  color: #fff;
  padding: 0 0.9rem;
}

.logo {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  color: #fff;
}

.projects {
  font-size: 0;
  padding: 5rem 10rem;
  padding-top: 0rem;
}

.projects .description {
  padding-bottom: 10rem;
}

.projects__line {
  display: flex;
  justify-content: space-between;
}

.projects__card {
  display: inline-block;
  width: 44%;
  font-size: 6rem;
  font-weight: bold;
  text-decoration: none;
  min-height: 60vh;
  background-color: #fff;
}

/* .projects__card:hover {
  -webkit-filter: contrast(200%);
  filter: contrast(200%);
} */
.projects__card__wrapper {
  width: 100%;
  height: 100%;
  padding: 4rem 2rem;
}

.projects__amazon {
  background-color: #232f3e;
  color: #f8fbfb;
}

.projects__amazon__skills {
  color: #ff9901;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2rem;
}

.projects__amazon__description {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2rem;
}

.projects__hsens {
  background-color: #f1ece6;
  color: #034ea2;
}

#header {
  min-height: 100vh;
  overflow: hidden;
  padding: 5rem 10rem;
}

#header .bsens {
  display: flex;
  justify-content: space-between;
}

#header .description {
  padding-top: 15rem;
}

div.wrapper {
  background-color: #333333;
  min-height: 100vh;
}

.project-page__header {
  width: 100%;
  height: 30vh;
  font-size: 5rem;
  font-weight: bold;
  line-height: 20vh;
}

.project-page h2 {
  font-size: 2rem;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection {
  background: #ff4d25;
  color: #fff;
}

::selection {
  background: #ff4d25;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */