.projects {
  font-size: 0;
  @include mainLayout;
  padding-top: 0rem;

  .description {
    padding-bottom: 10rem;
  }

  &__line {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    display: inline-block;
    width: 44%;
    font-size: 6rem;
    font-weight: bold;
    text-decoration: none;
    min-height: 60vh;
    background-color: #fff;

    &:hover {
      transform: scale(1.02);
      transition: all .2s ease-in-out;
    }

    &__wrapper {
      width: 100%;
      height: 100%;
      padding: 4rem 2rem;
    }
  }

  &__amazon {
    background-color: #2ea9a8;
    color: #f8fbfb;

    &__skills {
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 2rem;
    }

    &__description {
      margin-top: 1rem;
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 2rem;
    }
  }

  &__hsens {
    background-color: #f1ece6;
    color: #034ea2;

  }
}